<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/images/icon.png">
        <link rel="stylesheet" href="/CSS/style.css">
    </head>
    <body>
        <div class='ripple-background'>
        <div class='circle xxlarge shade1'></div>
        <div class='circle xlarge shade2'></div>
        <div class='circle large shade3'></div>
        <div class='circle mediun shade4'></div>
        <div class='circle small shade5'></div>
        </div>
        <div class="main-content">
            {{>header}}

            <p>
                'Hello world!' <br>
                I'm Utkarsh Goel. A sophomore IT student at Institute of Engineering and Technology,<br>Lucknow.
                <br>
                <br>
                <br>
                Contact me :
                <header>
                    <nav class="nagation">
                        <a target="_blank" href="https://github.com/UtkarshGoel18"> <img src="/images/github-logo.png" width=25px> </a>
                        <a target="_blank" href="https://www.facebook.com/love.joy.98434"> <img src="/images/facebook-logo.png" width=25px>  </a>
                        <a target="_blank" href="https://www.linkedin.com/in/utkarshGoel18">  <img src="/images/linkedin-logo.png" width=25px>  </a>
                    </nav>
                </header>
            </p>
        </div>
        {{>footer}}
    </body>
</html>
